{
{% for module in modules %}
    "module{{ loop.index }}": {
        {% for exercise in range(module) %}
        "exercise{{ loop.index }}": {
            "is_passed_test": false,
            "score": "",
            "logs": "Not published yet",
            "updated_time_utc": ""
        }{{ "," if not loop.last else "" }}
        {% endfor %}
    }{{ "," if not loop.last else "" }}
{% endfor %}
}
